.App {
    /* text-align: center; */
    /* width: 10vw; */
    position: absolute;
    top: 7vh;
    margin-left: 5vw;
    border-radius: 45%;
    width: 14vw;
    height: 29vh;
    /* background-color: #282c34; */
  }
  
  .App-logo {
    position: relative;
    /* right: 4vw; */
    top: 1vw;
    /* height: 200px; */
    /* height: 24vmin; */
    width: 22vw;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite .195s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  