
.main{
    /* background-color: whitesmoke; */
    height: 100vh;
    width: 95vw;
    z-index: 5;
}
.marco{
    /* position: absolute; */
    background-color: aquamarine;
    height: 155vh;
    width: 90vw;
    margin-left: 5vh;
    margin-top: 5vh;
    border-top-left-radius: 100px;
    z-index: -10;
    overflow: hidden;
}
.marco2{
    position: relative;
    top: 6vh;
    /* background-color: yellow; */
    background-color: white;
    z-index: 0;
    height: 100%;
    width: 70vw;
    margin-left: 21vw;
    /* margin-top: 15vh; */
    border-top-left-radius: 100px;
}
.mainLogo{
    position: absolute;
    top:5vh;
    /* margin-top: 20px; */
    /* height: 5vh; */
    margin-left: 3vw;
    height: 21vw;
    width: 21vw;
    /* border-radius: 45%; */
    /* width: 14vw; */
    /* height: 29vh; */
    /* background-color: #282c34; */

}
.contenedorFoto{
    background-color: black;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    position: relative;
    left: 15px;
    top: 15px;
}
.fullName{
    height: 15vw;
    width: 50vw;
    /* background-color: yellow; */
    position: absolute;
    left: 20vw;
    top: 2vh;
    font-weight: 500;
    font-size: 4.5vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: center; */
    justify-items: center;
    align-content: center;
}

/* Lateral */
.contenidoLateral{
    width: 17vw;
    line-height: 1.4;
    position: absolute;
    top: 40vh;
    left: 3vw;
    margin-top: 3vw;
    margin-left: 2.5vw;
    /* background-color: yellow; */
    max-height: 500px;
    /* font-size: 1.2vw; */
    font-size: 1rem;
}
.contenidoLateral h4{
    margin-top: 10px;
}
.contenidoLateral li{
    margin-left: 20px;
}

/* fin Lateral  */  


.destacado{
    /* background-color: yellow; */
    width: 68vw;
    position: absolute;
    /* top: 60vh; */
    top: 25vw;
    margin-top: 3vw;
    left: 26vw;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.destacado li{
    margin-left: 30px;
}
.destacado h3{
    margin-top: 20px;
    margin-left: -15px;
}

.itemLogo{
    height: 17vw;
    width: 17vw;
    position: relative;
    cursor: pointer;
}
.parrafoLogo:hover{
    /* background-color: grey; */
    background-color: #282c34;
}
.parrafoLogo:focus-visible{
    background-color: yellow;
}
.parrafoLogo{
    text-align: center;
    color: white;
    background-color: black;
    height: 18vw;
    width: 100%;
    top: -1vw;
    position: absolute;
}
.itemLogoContainer{
    /* background-color: blue; */
    display: flex;
    width: 90vw;
}
.concepto{
    color: white;
    /* background-color: #282c34; */
    margin-top: -2vw;
    padding: 3vw;

}
.contenedorConceptos{
    background-color: #282c34;
    width: 95vw;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    /* margin-top: -15px; */
}
